<template name="depression">

    <ol class="breadcrumb">
        <li><a href="{{pathFor 'index' }}">Dashboard</a></li>
        <li>Depression</li>
    </ol>

    <h3>Get Active, Feel Good Depression Program</h3>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                    {{#each exercises}}
                        <tr>
                            <td>
                                <a class="btn btn-block{{#if complete}} btn-success{{else}} btn-default{{/if}}"
                                href="{{pathFor path}}">
                                    {{title}}
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <p>Sometimes the hardest steps are the first ones, and by getting
                    this far you have already taken your first step to get on top
                    of your low mood.</p>
            </div>
        </div>
    </div>

</template>
