<template name="depression">

    <h3>Get Active, Feel Good Depression Program</h3>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
              <tbody>
                    <tr>
                        <td>
                            <a class="btn btn-block btn-primary" href="{{pathFor 'depressionExerciseOne' }}">
                                Exercise One
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-block btn-default" href="#">
                                Exercise Two
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-block btn-default" href="#">
                                Exercise Three
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-block btn-default" href="#">
                                Exercise Four
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-block btn-default" href="#">
                                Exercise Five
                            </a>
                        </td>
                    </tr>
              </tbody>
            </table>
        </div>
        <div class="col-md-6">
                <div class="jumbotron">
                    <p>Sometimes the hardest steps are the first ones, and by getting this far you have already taken your first step to get on top of your low mood.</p>
                </div>
        </div>
    </div>

</template>
