// ==============================================
// Anxiety hierarchy table section styles
// ==============================================

.hierarchy-table-section {
    margin: rem(0 0 $gutter*2);
    min-height: rem(40px);
    position: relative;
}
