// ==============================================
// Anxiety hierarchy table entry styles
// ==============================================

.hierarchy-table-entry {
    @include border-radius-bottom-right();
    @include border-radius-top-right();
    @include clearfix();
    background: red(0.2);
    border-left: rem(6px) solid red(0.8);
    cursor: pointer;
    color: blue();
    margin: rem(0 0 10px);
    padding: rem(14px);
    position: relative;
}

    .hierarchy-table-entry-title {
        @include fontSize(18px);
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;

        @include break(medium) {
            @include fontSize(24px);
        }
    }

    .hierarchy-table-entry-percentage {
        @include fontSize(18px);
        display: inline-block;
        float: right;

        @include break(medium) {
            @include fontSize(24px);
        }
    }

    .hierarchy-table-reorder {
        @include fontSize(18px);
        cursor: move;
        display: inline-block;
        float: right;
        opacity: 0.2;
        padding: rem(0 0 0 7px);

        @include break(medium) {
            @include fontSize(20px);
            padding: rem(3px 0 0 10px);
        }
    }

    .hierarchy-table-entry-delete {
        @include fontSize(16px);
        @include transition(color .2s ease);
        color: blue(0.2);
        display: none;
        height: rem(40px);
        line-height: rem(40px);
        padding: rem(0 5px 0 10px);
        position: absolute;
        right: rem(-30px);
        text-decoration: none;
        top: 50%;
        -ms-transform: translateY(-18px);
        -webkit-transform: translateY(-18px);
        transform: translateY(-18px);
        width: rem(30px);

        @include break(medium) {
            padding: rem(0 0 0 5px);
        }
    }

    .hierarchy-table-entry-delete:hover {
        color: blue();
    }

    .hierarchy-table-entry:hover
    .hierarchy-table-entry-delete {
        @include break(medium){
            display: block;
        }
    }


// Sortable active states
.hierarchy-table-entry.sortable-ghost {
    opacity: 0;
}

.hierarchy-table-entry.sortable-chosen {
    @include border-radius();
    background: red(1);
    color: white();

    .hierarchy-table-entry-delete {
        display: none;
    }
}

// Colours are based on the section
.hierarchy-table-section.mod-medium .hierarchy-table-entry {
    background: yellow(0.2);
    border-left-color: yellow(0.8);

    &.sortable-chosen {
        background: yellow(1);
    }
}

.hierarchy-table-section.mod-easy .hierarchy-table-entry {
    background: green(0.2);
    border-left-color: green(0.8);

    &.sortable-chosen {
        background: green(1);
    }
}

// Empty entry
.hierarchy-table-section .hierarchy-table-entry.mod-empty {
    @include border-radius();
    @include fontSize(22px);
    background: blue(0.05);
    border: rem(4px) dashed blue(0.1);
    color: blue(0.5);
    cursor: default;
    font-style: italic;
    opacity: 0.3;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}
