// ==============================================
// Anxiety hierarchy table section styles
// ==============================================

.hierarchy-table-section {
    min-height: rem(82px);
    padding: rem(0 0 $gutter);
    position: relative;
}
