// ==============================================
// Misc. global styles
// ==============================================

html, body {
    @include clearfix();
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    min-height: 0;
}

body {
    background: white();
    color: blue();
    font-family: 'Brandon Grotesque';
}

// Remove border-radius on iOS
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.container {
    margin: 0 auto;
    padding: 0 $gutter $gutter;
    width: 100%;

    @include break(large) {
        width: $large;
    }
}

.container.mod-header {
    padding: 0 $gutter;
}

.container.mod-small {
    width: 100%;

    @include break(medium) {
        width: $medium;
    }
}
