// ==============================================
// Misc. global styles
// ==============================================

html, body {
    @include clearfix();
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    min-height: 0;
}

body {
    background: white();
    color: blue();
    font-family: 'Brandon Grotesque';
}

.container {
    margin: 0 auto;
    padding: 0 $gutter;
    width: 100%;

    @include break(large) {
        width: $large;
    }
}
