<template name="depression">

    {{#if isEnrolled}}

        <ol class="breadcrumb">
            <li><a href="{{pathFor 'index'}}">Dashboard</a></li>
            <li>Depression</li>
        </ol>

        <h3>Get Active, Feel Good Depression Program</h3>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Exercises
                                <span class="label label-default label-square pull-right">Locked</span>
                                <span class="label label-primary label-square pull-right">Next</span>
                                <span class="label label-success label-square pull-right">Complete</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each exercises}}
                            <tr>
                                <td>
                                    <a class="btn btn-block{{#if complete}} btn-success{{else}} btn-default{{/if}}"
                                    href="{{pathFor route}}">
                                        {{title}}
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="jumbotron">
                    <p>Sometimes the hardest steps are the first ones, and by getting
                        this far you have already taken your first step to get on top
                        of your low mood.</p>
                </div>
            </div>
        </div>

    {{else}}
        {{>notFound}}
    {{/if}}

</template>
