<template name="patientIndex">

    {{#if Template.subscriptionsReady}}

        <h4>Your Dashboard</h4>

        <hr>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Programs</th>
                    <th>Last Completed</th>
                </tr>
            </thead>
            <tbody>
                {{#each programs}}
                    <tr>
                        <td>
                            <a href="{{pathFor route}}" title="View program">
                              {{title}}
                          </a>
                        </td>
                        <td>{{formatDate lastCompleted}}</td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="2">
                            You are not enrolled in any programs. Please speak with your counsellor about starting
                            a new program.
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    {{else}}

        {{>loading}}

    {{/if}}
</template>
