<template name="adminAddPatient">

    <h4>Add New Patient</h4>

    <hr>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <form>
                <div class="form-group">
                    <label for="first">First name</label>
                    <input type="text" class="form-control" id="first" placeholder="Insert the patient's first name">
                </div>

                <div class="form-group">
                    <label for="last">Last name</label>
                    <input type="text" class="form-control" id="last" placeholder="Insert the patient's last name">
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Insert the patient's email address">
                </div>

                <button type="submit" class="btn btn-primary">Send invite</button>
                <a href="{{pathFor 'index'}}" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>

</template>
