// ==============================================
// Button styles
// ==============================================

.button {
    @include border-radius(3px);
    @include fontSize(12px);
    @include transition(
        background .3s ease,
        color .3s ease
    );
    background: transparent;
    border: 3px solid green();
    color: green();
    display: inline-block;
    font-weight: 600;
    letter-spacing: rem(1);
    line-height: 1;
    margin: 0;
    padding: rem(11px 18px 9px);
    text-decoration: none;
    text-transform: uppercase;
}

.button:focus,
.button:hover {
    background: green();
    color: white();
}

// Button varients

.button.mod-icon {
    @include fontSize(16px);
    padding: rem(5px 6px 3px);
}

.button.mod-cancel {
    border-color: yellow();
    color: yellow();
    margin: rem(0 14px 0 0);
}

.button.mod-cancel:focus,
.button.mod-cancel:hover {
    background: yellow();
    color: white();
}

// Button helpers

.button.mod-right {
    float: right;
}
