// ==============================================
// Button styles
// ==============================================

.button {
    @include border-radius(3px);
    @include fontSize(16px);
    @include transition(
        background .3s ease,
        color .3s ease
    );
    border: 3px solid green();
    color: green();
    display: inline-block;
    line-height: 1;
    padding: rem(5px 6px 3px);
}

.button:hover {
    background: green();
    color: white();
}

.button.mod-right {
    float: right;
}
