// ==============================================
// Form label styles
// ==============================================

.label {
    @include fontSize(22px);
    display: block;
    font-weight: 300;
    margin: rem(0 0 10px);

    @include break(medium) {
        @include fontSize(30px);
    }
}
