// ==============================================
// Login page styles
// ==============================================

.login {
    @include border-radius();
    margin: 0 auto;

    @include break(medium) {
        width: 50%;
    }
}

    .login-form {
        color: blue();
        padding: rem(10px 0);
    }

        .login-form-label {
            padding: rem(0);
        }
