// ==============================================
// Shelf styles
// ==============================================

.shelf {
    @include clearfix();
    margin: rem(0 0 $gutter);
}

.shelf.mod-border {
    border-bottom: rem(2px) solid blue();
}

    .shelf-title {
        @include fontSize(20px);
        display: inline-block;
        float: left;
        letter-spacing: rem(2px);
        line-height: rem(38px);
        margin: 0;
        vertical-align: middle;
    }
