<template name="adminIndex">

    <div class="row">
        <div class="col-xs-6">
            <h4 class="pull-left">Your Patients</h4>
        </div>
        <div class="col-xs-6">
            <a href="{{pathFor 'adminAddPatient'}}" class="btn btn-sm btn-success pull-right">Add Patient</a>
        </div>

    </div>

    <hr style="margin-top: 10px;">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Last Logged In</th>
            </tr>
        </thead>
        <tbody>
            {{#each patients}}
                <tr>
                    <td><a href="{{pathFor 'adminPatientOverview' _id=_id}}" title="View profile">{{getFullName this}}</a>
                    </td>
                    <td>{{getEmailAddress this}}</td>
                    <td>
                        {{#if status.online}}
                        <span class="label label-success">Active now</span>
                        {{else}} {{formatDate status.lastLogin.date}} {{/if}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</template>
