<template name="adminPatientOverview">

    {{#if Template.subscriptionsReady}}
        {{#if isAdmin}}

            <h4>{{getFullName patient}}</h4>
            <h5>
                <a href="mailto:{{getEmailAddress patient}}">
                    {{getEmailAddress patient}}
                </a>
            </h5>

            <hr>

            {{#if programs}}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Programs</th>
                            <th>Last Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each programs}}
                            <tr>
                                <td>{{title}}</td>
                                <td>{{formatDate lastCompleted}}</td>
                            </tr>
                        {{else}}
                            <tr>
                                <td colspan="2">
                                    They are not enrolled in any programs.
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}

            <div class="row">
                {{#each notEnrolled}}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>{{title}}</h3>
                                <p>
                                    <span class="label label-info">Depression</span>
                                    <span class="label label-warning">Cognitive behaviour therapy</span>
                                </p>
                                <p>{{description}}</p>
                                <p><a href="#enroll" class="btn btn-primary enroll" data-program="{{route}}">Enroll patient</a></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

        {{else}}

            {{>notFound}}

        {{/if}}

    {{else}}

        {{>loading}}

    {{/if}}

</template>
