/*
  Clearfix
  via http://nicolasgallagher.com/micro-clearfix-hack
*/
%clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.label-square {
    border-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    min-height: 100%;
    position: relative;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    position: absolute;
    width: 100%;
}

body > .container {
    padding-top: 60px;
}

.footer > .container > .progress {
    margin: 20px 0;
}
